* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c88f0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.container > p {
  font-size: 1.3rem;
}

#values {
  height: 150px;
  width: 500px;
  margin: 1rem 0rem;
  padding: 1rem;
}

#output {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

#output > p {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  border-radius: 15px;
}

.val {
  background-color: #f0942a;
}

.active {
  background-color: blue;
}
